.articles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin: 50px 0;

    @media (max-width: 750px) { 
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
     }
}

.article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;
    padding: 15px 20px;
    box-shadow: #8a888866 0px 2px 8px 0px;
    border-radius: 25px;


    &-imgs{
        width: 150px;
        height: 150px;
        margin-top: 15px;

        & img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    &-information{
        width: 100%;
        padding: 0 10px;
    }
    &-title{
      text-align: center;
    }
    &-legend{
        text-align: justify;
    }

}