.cards{
    width: 100%;

    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 0px;

    .card:not(:last-child){
        border-right: 1px solid #bbbbbb;
    }
}

.card{
    padding: 0 15px;
    text-align: center;
    >i{
        color: chartreuse;
        font-size: 50px;
    }

    &-title{
        color: #FFF;
        font-weight: 300;
    }
    &-legend{
        color: #bbb;
    }

}