.form-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;

    >h1{
        text-align: center;
        color: #fff;
    }
}

.cuestions-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    color: #fff; 
    padding: 20px 0;
    .input-wrapper{
        position: relative;
        line-height: 14px;
        width: 100%;

        input{
            text-transform: capitalize;
            width: 100%;
            font-family: $letra1;
            font-size:13px;
            text-align: center;
            color: rgb(0, 0, 0);
            outline:none;
            border:1px solid rgb(255, 255, 255);
            padding:10px 0; 
            border-radius:5px;
            position:relative;
            background: transparent;
    
            &:invalid + label{
                transform:translateY(0)    
            }   
            &:focus{
                border-color:#000000;
    
                & + label{
                color:#000000;
                transform:translateY(-20px);               
                }
    
            }
    
        } 
        
        label{
        font-family: $letra1;
        color:#fff;
        font-size:13px;
        text-transform:uppercase;
        position:absolute;
        z-index:2;
        left:20px;
        top:11px;
        padding:0 2px;
        pointer-events:none;
        background:#1bd30b;
        transition:transform 100ms ease;
        transform:translateY(-20px);
        }
    }

    .radio-wrapper{
        border-radius:5px;
        border: 1px solid rgb(255, 255, 255);
        padding: 0 15px;

        &:hover{
            border: 1px solid rgb(0, 0, 0);
            color: #000000;
        }
           
        .radio-title{
            margin: 5px 0;
            font-family: $letra2;
            font-weight: 100;
            font-size: 15px;
        } 
        .form-radios{ 
            font-family: $letra2;        
              
        }
        &.check{ 
            .radio-title{
                position: relative;
                background: #1bd30b;
                transform: translateY(-15px);
                display: inline-block;
                transition: transform 100ms;
            }   
        }

    }
    .span-col-2{grid-column: span 2 / auto;}
    .span-row-3{grid-row: span 3 / auto;}

    .form-submit{
        margin: 10px auto;
    }


}

