h1,h2,h3{
    font-family: $letra1;
}
p,a{
    font-family: $letra2;
}

.btn{
    font-family: $letra1; 
    background: transparent;
    border: solid chartreuse;
    color: chartreuse;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    border-radius: 20px;
    transition: all 0.5s;
    margin: 10px;
    
    &:hover{
        background-color:chartreuse ;
        color: white;
    }

    &-wht{
        border: solid #fff;
        color: #fff;  
        
        &:hover{
            background-color:#fff ;
            color: chartreuse; 
        }
    }




}

.container{
    max-width: 70%;
    margin: auto;
}

.visitas{
    position: absolute;
    bottom: 0;
    right: 30px;
    h2{
        color: chartreuse;
        >span{
            font-weight: 400;
            color: #fff;
        }
    }


}
