.header{
    //background: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
    border-bottom: 1px solid #989898;


    a{
        color: #BBBBBB;
        text-decoration: none;
    }

    &-links{
        font-family: $letra2;
        display:flex;

        &>:not(:last-child){
            margin-right: 15px;
        }
        .lang{
            border: 1px solid chartreuse;
            width: 100px;
            padding: 0 8px ;
            box-sizing: border-box;
            border-radius: 5px;
            color:#BBBBBB;
            position: relative;
        }

        .lang-options{
            display: none;
            position: absolute;
            border: 1px solid chartreuse;
            width: 100px;
            padding: 10px ;
            box-sizing: border-box;
            border-radius: 5px;
            color:#BBBBBB;

            &.show{
              background: #333;
              display: block; 
              top: 30px; 
              left: 0;
            }

            .lang-option:hover{
                box-sizing: border-box;
                border-bottom:1px solid chartreuse;
            }
        }



    }
    &-link{
        display: flex;
        align-items: center;
        list-style: none;
        transition: 0.5s;
        position: relative;
        &.active{
            color: chartreuse;
        }
        &:hover{
            color: chartreuse;
        }
        i{
            position: absolute;
            margin: auto;
            right: 7px;
            color: chartreuse;
        }
        .lang-container,.lang-option{
            display: flex;
            justify-content: start;
            align-items: center;
            list-style: none;
            img{
                width: 25px;
            }
            span{
                font-weight: 400;
                margin-left: 5px;
            }
        }


    }
}