.resultados-wrapper{
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 25px 0;

    &>:not(:last-child){
        margin-right: 15px;
    }

    .resultado-img{
        width: fit-content;
        height: 362px;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    .resultado-informacion{
        font-family: $letra2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        .span-col-2{grid-column: span 2 / auto;}
        .resultado-item{
            display: flex;
            align-items: center;
            width: 100%;
            > p span{
                font-size: 20px;
            }
            .resultado-nombre{
                margin: 0;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid;
            }
            .resultado-imc{
                font-family: $letra1;
                font-size: 25px;
                font-weight: 500;
                width: 100%;
                text-align: center;
                border-left: 1px solid;
                border-right: 1px solid;   
            }
        }

    }
   
}