.main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/bg-welcome.png");

    &-overlay{
    width: 100%;
    height: 100vh;
    background:#1e1e1fcf;

    }
}

.result-main{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");

    &-overlay{
    width: 100%;
    height: 100vh;
    background:#1e1e1fcf;

    }
}

.contenido{
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    background-color:rgb(27, 211, 11);
}
