.welcome-wrapper{
    width: 80%;
    height: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .welcome-title{
        color: #FFF;
        text-align: center;
        line-height: 1;
        letter-spacing: 5px;
    }
}