/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

p, a {
  font-family: "Lato", sans-serif;
}

.btn {
  font-family: "Roboto", sans-serif;
  background: transparent;
  border: solid chartreuse;
  color: chartreuse;
  padding: 5px 35px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
}

.btn:hover {
  background-color: chartreuse;
  color: white;
}

.btn-wht {
  border: solid #fff;
  color: #fff;
}

.btn-wht:hover {
  background-color: #fff;
  color: chartreuse;
}

.container {
  max-width: 70%;
  margin: auto;
}

.visitas {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.visitas h2 {
  color: chartreuse;
}

.visitas h2 > span {
  font-weight: 400;
  color: #fff;
}

.main {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg-welcome.png");
}

.main-overlay {
  width: 100%;
  height: 100vh;
  background: #1e1e1fcf;
}

.result-main {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80");
}

.result-main-overlay {
  width: 100%;
  height: 100vh;
  background: #1e1e1fcf;
}

.contenido {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario {
  background-color: #1bd30b;
}

.welcome-wrapper {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-wrapper .welcome-title {
  color: #FFF;
  text-align: center;
  line-height: 1;
  letter-spacing: 5px;
}

.header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 25px;
  border-bottom: 1px solid #989898;
}

.header a {
  color: #BBBBBB;
  text-decoration: none;
}

.header-links {
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-links > :not(:last-child) {
  margin-right: 15px;
}

.header-links .lang {
  border: 1px solid chartreuse;
  width: 100px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #BBBBBB;
  position: relative;
}

.header-links .lang-options {
  display: none;
  position: absolute;
  border: 1px solid chartreuse;
  width: 100px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #BBBBBB;
}

.header-links .lang-options.show {
  background: #333;
  display: block;
  top: 30px;
  left: 0;
}

.header-links .lang-options .lang-option:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid chartreuse;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.header-link.active {
  color: chartreuse;
}

.header-link:hover {
  color: chartreuse;
}

.header-link i {
  position: absolute;
  margin: auto;
  right: 7px;
  color: chartreuse;
}

.header-link .lang-container, .header-link .lang-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header-link .lang-container img, .header-link .lang-option img {
  width: 25px;
}

.header-link .lang-container span, .header-link .lang-option span {
  font-weight: 400;
  margin-left: 5px;
}

.cards {
  width: 100%;
  margin: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 0px;
}

.cards .card:not(:last-child) {
  border-right: 1px solid #bbbbbb;
}

.card {
  padding: 0 15px;
  text-align: center;
}

.card > i {
  color: chartreuse;
  font-size: 50px;
}

.card-title {
  color: #FFF;
  font-weight: 300;
}

.card-legend {
  color: #bbb;
}

.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  margin: 50px 0;
}

@media (max-width: 750px) {
  .articles {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin: 50px 0;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0;
  padding: 15px 20px;
  -webkit-box-shadow: #8a888866 0px 2px 8px 0px;
          box-shadow: #8a888866 0px 2px 8px 0px;
  border-radius: 25px;
}

.article-imgs {
  width: 150px;
  height: 150px;
  margin-top: 15px;
}

.article-imgs img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.article-information {
  width: 100%;
  padding: 0 10px;
}

.article-title {
  text-align: center;
}

.article-legend {
  text-align: justify;
}

.form-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-wrapper > h1 {
  text-align: center;
  color: #fff;
}

.cuestions-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  color: #fff;
  padding: 20px 0;
}

.cuestions-form .input-wrapper {
  position: relative;
  line-height: 14px;
  width: 100%;
}

.cuestions-form .input-wrapper input {
  text-transform: capitalize;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-align: center;
  color: black;
  outline: none;
  border: 1px solid white;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
  background: transparent;
}

.cuestions-form .input-wrapper input:invalid + label {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cuestions-form .input-wrapper input:focus {
  border-color: #000000;
}

.cuestions-form .input-wrapper input:focus + label {
  color: #000000;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cuestions-form .input-wrapper label {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 11px;
  padding: 0 2px;
  pointer-events: none;
  background: #1bd30b;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.cuestions-form .radio-wrapper {
  border-radius: 5px;
  border: 1px solid white;
  padding: 0 15px;
}

.cuestions-form .radio-wrapper:hover {
  border: 1px solid black;
  color: #000000;
}

.cuestions-form .radio-wrapper .radio-title {
  margin: 5px 0;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.cuestions-form .radio-wrapper .form-radios {
  font-family: "Lato", sans-serif;
}

.cuestions-form .radio-wrapper.check .radio-title {
  position: relative;
  background: #1bd30b;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  display: inline-block;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.cuestions-form .span-col-2 {
  grid-column: span 2 / auto;
}

.cuestions-form .span-row-3 {
  grid-row: span 3 / auto;
}

.cuestions-form .form-submit {
  margin: 10px auto;
}

.resultados-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  padding: 25px 0;
}

.resultados-wrapper > :not(:last-child) {
  margin-right: 15px;
}

.resultados-wrapper .resultado-img {
  width: 141px;
  height: 362px;
}

.resultados-wrapper .resultado-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.resultados-wrapper .resultado-informacion {
  font-family: "Lato", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.resultados-wrapper .resultado-informacion .span-col-2 {
  grid-column: span 2 / auto;
}

.resultados-wrapper .resultado-informacion .resultado-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.resultados-wrapper .resultado-informacion .resultado-item > p span {
  font-size: 20px;
}

.resultados-wrapper .resultado-informacion .resultado-item .resultado-nombre {
  margin: 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}

.resultados-wrapper .resultado-informacion .resultado-item .resultado-imc {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  border-left: 1px solid;
  border-right: 1px solid;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=style.css.map */